.task {
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

.col {
    padding: 10px;
    background-color: black;
}

.btn:hover {
    background-color: slategrey;
}

#task3-cards {
    padding: 30px 30px 20px 30px;
    height: 350px;
}